.registration {
    border: 1px dotted lightseagreen;
    padding: 1rem;
}

.registration__game {
    font-family: "Patua One";
    font-weight: bold;
    letter-spacing: 0.15rem;
}

.profile_card {
    border: 1px solid black;
    margin: 1em;
    padding: 0 0 0 .5em;
}