.container{
    display:flex;
    flex-direction: column;
}

.commentTitle{
    margin: auto;
}

.commentForm{
    padding: 5vh;
    width: 50vh;
    margin: auto
}

.commentList{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 140vh;
    justify-content: center;
}

.commentCard{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2vh;
    width: 50vh;
    margin: 5px 5px;
}