.category_card {
  border: 1px solid black;
  padding: 1em;
}

.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.createTag {
  padding: 10px;
}

.category_list {
  list-style-type: none;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

.category_list--item {
  margin: 0;
  padding: 10px;
  border: 2px solid black;
  margin: 10px auto;
  text-align: center;

  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.cat_label {
  width: 100%;
  padding: 10px;
  background: lightgray;
}

.btn--delete {
  width: 100%;
  padding: 10px;
  background: salmon;
}
